body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
}

h1 {
  color: lightblue;
  text-align: center;
}

img {
  width: 300px;
  height: 200px;
  border: 10px solid green;
  border-radius: 20px;
}

.image-container {
  text-align: center;
}

.image-container img {
  width: 375px;
  height: 350px;
  border: 1px solid #000;
  padding: 5px;
  margin: 5px;
}

.author {
  text-align: center;
}

.main-content {
  text-align: left;
  margin: 50px;
  padding: 0px 75px 50px 75px; /* Removed extra space */
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ol li a {
  display: grid;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

ol li a:hover {
  background-color: lightblue;
}

/* Navigation Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
