body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
  color: black;
}

.image-container {
  text-align: center;
}

.image-container img {
  width: 375px;
  height: 350px;
  border: 1px solid #000;
  padding: 5px;
  margin: 5px;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

.author {
  text-align: center;
}

.main-content {
  text-align: justify;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}

#alttext {
  font-size: 50px;
}

